<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Admin <%= user.name %> </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/registerCategory" class="btn btn-secondary">Register Category</a>
<a href="/registerProduct" class="btn btn-secondary">Register Product</a>
<a href="/admin/updateAdmin" class="btn btn-secondary">Update Register</a>
<a href="/admin/relatorios/compras" class="btn btn-secondary">Relatorio de Compras</a>
<a href="/admin/relatorios/estoque" class="btn btn-secondary">Relatorio de Estoque</a>
<a href="/admin/relatorios/saldo" class="btn btn-secondary">Relatorio de Saldo</a>
<a href="/admin/delAdmin" class="btn btn-secondary" method = "DELETE">Delete Register</a>